.t1{
    border: groove;
    border-color: aqua;
    background-color: aquamarine;
}
.header{
    background-color: grey;
}

.t2{
    border: groove;
    border-color: red;
    background-color: aquamarine;
}.vnosv{
    width: 50px;
 }

#VandM{

    border-color: black;
    width: 400px;
    height: 1200px;
    background-color: aquamarine;
}

#Point{
    border-color: black;
    width: 560px;
    height: 1200px;
    margin-left: 450px;
    margin-top: -1210px;
    background-color: aquamarine;
}

.inputv{
    height: 15px;
    width: 30px;
}

.t3{
    border: groove;
    border-color: red;
    background-color: aquamarine;

}
.t4{
    border: groove;
    margin-top: 10px;
    background-color: aquamarine;
    width: 530px;
    height: 600px;
    padding-left: 25px;

}

h1{
    font-size: medium;
}

.ta{
    width: 500px;

}

